<div class=wrapper>
  <h1>
    <a href="{{ "/" | absolute_url }}">
      <img src="{{site.logo | relative_url}}" alt="Logo" />
      {{ site.title | default: site.github.repository_name }}
    </a>
  </h1>
  <div class="menu">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for p in sorted_pages %}
      {% if p.order > 0 %}
      {% if p.permalink == page.permalink %}
        <span>{{p.title}}</span>
      {% else %}
        <a href="{{ p.permalink | relative_url }}">{{ p.title }}</a>
      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
