$cgBlue: rgb(35,97,136);
$cgRed: rgb(136,35,70);
$bodyFont: 'open sans', 'sans-serif';
$bodyColor: rgb(51,51,51);
$bodyBg: rgb(255,255,255);
$contentColor: rgb(6,33,52);
$mainFontColor: rgb

body {
  margin: 0;
  background: $cgBlue;
  #content {
    margin: 0 auto;
    max-width: 600px;
    background: white;
  }
}

h1 {
  font-family: raleway, sans-serif;
  font-size: 30px;

}

p {
  background: white;
  color: rgb(51,51,51);
  font-family: 'open sans', 'sans-serif';
  font-size: 14px;

}
