$cgBlue: rgb(35,97,136);
$cgRed: rgb(136,35,70);
$bodyFont: 'Open Sans';
$titleFont: 'Raleway';
$bodyColor: rgb(51,51,51);
$bodyBg: rgb(255,255,255);
$contentColor: rgb(6,33,52);
$titleColor: rgb(255,255,255);
$selectedColor: rgb(153,153,153);
$boxBg: rgb(102,102,102);
$boxColor: $bodyBg;
$titleColor2: rgb(179,215,237);

$maxWidth: 980px;
$screenWidthBreak: 600px;
