header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: $cgBlue;
  color: $titleColor;
  border-bottom: thin solid lighten($cgBlue,10%);
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 97px;
    h1 {
      font-size: 30px;
      letter-spacing: 0.06em;
      font-family: $titleFont;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      color: $titleColor;

      img {
        position: relative;
        width: 55px;
        height: 29px;
        top: 4px;
        left: 13px;
      }
    }
  }
}

nav {
  display: block;
  font-family: $titleFont;
  input,svg {
    display: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2;
    li {
      color: $selectedColor;
      min-width: 60px;
      text-align: center;
      display: inline-block;
    }
    a {
      text-decoration: none;
      li {
        color: $titleColor;
        transition: color 0.4s ease;
        &:hover {
          color: $bodyColor;
        }
      }
    }
  }
}

@media only screen and (max-width: $screenWidthBreak) {
  nav {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    user-select: none;
    input,svg {
      display: block;
      width: 33px;
      height: 33px;
      margin: 0;
      position: absolute;
      top: 50px;
      right: 50px;
    }
    input {
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }
    svg {
      background: $cgBlue;
      border-radius: 3px;
      z-index: 1;
      transition: transform 0.5s ease;
      fill: none;
      path {
        stroke: $titleColor;
      }
    }
    input:checked ~ svg {
      transform: rotate(90deg);
    }
    ul {
      width: 150px;
      height: auto;
      top: 0;
      right: 0;
      margin: 0;
      padding: 50px;
      padding-top: 100px;
      background: $cgBlue;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s ease;
      li {
        padding: 10px 0;
        font-size: 22px;
        display: block;
      }
    }
    input:checked ~ ul {
      transform: none;
    }
  }
}
